
  <div class="col-6 mx-auto">
  <%= render 'layouts/error_messages', obj: product %>
  <%= form_with model: product, local:true do |f| %>
    <table class="table table-borderless">
      <thead>
        <th style="width: 35%"></th>
        <th style="width: 65%"></th>
      </thead>
      <tbody>

        <tr class="form-group">
          <td><%= f.label :name, '製品名/型式' %></td>
          <td><%= f.text_field :name, class: "col-12" %></td>
        </tr>


        <div class="form-group">
          <td><%= f.label :information, '紹介文' %></td>
          <td><%= f.text_area :information, placeholder: "ここに紹介文を記述します", class: "col-12" %></td>
        </tr>

        <tr class="form-group">
        <td><%= f.label :price, '税抜価格(円)' %></td>
        <td><%= f.text_field :price, placeholder: "1000", class: "col-12" %></td>
        </tr>
        
        <tr class="form-group">
        <td><%= f.label :count, '数量' %></td>
        <td><%= f.text_field :count, placeholder: "10", class: "col-11" %>個</td>
        </tr>
        
        <tr class="form-group">
          <td>
            <%= f.label :tag_ids, 'タグ' %>
            <%= f.collection_check_boxes :tag_ids, @tags, :id, :name do |b| %>
            <div><%= b.check_box %><%= b.label %></div>
            <% end %>
          </td>
        </tr>
        
      <% unless local_assigns[:edit].present? %>

        <tr class="form-group">
          <td><%= f.label :is_used, '備品状況' %></td>
          <td><%= f.radio_button :is_used, false %>
            <%= f.label :is_used, '未開封', value: false %>
            <%= f.radio_button :is_used, true %>
            <%= f.label :is_used, '開封済', value: true %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="text-center mb-5">
      <% if local_assigns[:edit].present? %>
        <%= f.submit "変更を保存", class: 'btn btn-success align-center px-4 py-2' %>
      <% else %>
        <%= f.submit "新規登録", class: 'btn btn-success align-center px-4 py-2' %>
      <% end %>
    </div>

  <% end %>

  </div>