<h1>Public::Products#show</h1>

<p><%= @product.name %></p>
<p><%= @product.information %></p>
<p><%= @product.price %></p>
<p><%= @product.count %></p>
<p><%= @product.status %></p>
<p><%= @product.tags.pluck(:name).join(' / ') %></p>

<div id="comments_area" >
  <%= render 'comments/index', comments: @comments %>
  <% if user_signed_in? %>
    <%= render 'comments/form', product: @product, comment: @comment %>
  <% end %>
</div>