<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>型式・品名</th><td><%= @product.name %></td>
          </tr>
          <tr>
            <th>詳細</th><td><%= @product.information %><td>
          </tr>
          <tr>
            <th>税抜き価格</th><td><%= @product.price.to_s(:delimited) %><td>
          </tr>
          <tr>
            <th>個数</th><td><%= @product.count %><td>
          </tr>
          <tr>
            <td><%= @product.status %></td>
          </tr>
          <tr>
            <td><%= @product.tags.pluck(:name).join(' / ') %></td>
          </tr>

          <tr>
            <td><%= image_tag @product.image_url, size: "100x100" %></td>
            <td><%= link_to "楽天市場で類似商品の詳細を確認する", @product.detail_page, target: :_blank, rel: "noopener noreferrer" %></td>
          </tr>
        </tbody>
      </table>

      <h3 id="favorite_buttons">
        <%= render "public/favorites/favorite-btn", product: @product %>
      </h3>
      <% if @product.giver_id == current_user.id %>
        <%= link_to "編集する", edit_product_path %>
      <% end %>
      <% if @product.is_closed == false %>
        <%= link_to "引取報告", confirm_product_path, class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-md-5 offset-md-1 col-12">
      <div id="comments_area" >
        <%= render 'public/comments/index', comments: @comments, comment_reply: @comment_reply, product: @product %>
      </div>
      <% if user_signed_in? %>
        <%= render 'public/comments/form', product: @product, comment: @comment %>
      <% end %>
    </div>
  </div>
</div>