<div class="container comment-box">
  <div class="row d-flex align-items-center pb-3" >
    <div class="col text-secondary">
      <%= comment.user.name %>(<%= comment.user.department.name %>)　
    </div>
    <div class="col d-flex justify-content-end text-secondary">
      <%= comment.created_at.strftime('%Y/%-m/%-d %H:%M') %>
    </div>  
  </div> 
  <div class="ml-3">
    <%= comment.body %>
    <% if comment.user == current_user %>
      <div class="text-right">
        <%= link_to"削除", product_comment_path(comment.product, comment), method: :delete, remote:true  %>
      </div>
    <% end %>
  </div>
  <hr>

  <% comment.replies.reverse_each do |reply| %>
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col text-secondary">
          <%= reply.user.name %>(<%= reply.user.department.name %>)　
        </div>
        <div class="col d-flex justify-content-end text-secondary">
          <%= reply.created_at.strftime('%Y/%-m/%-d %H:%M') %>
        </div>  
      </div>    
      <div class="ml-3">
        <%= reply.body %>
        <% if reply.user == current_user %>
          <div class="text-right">
            <%= link_to"削除", product_comment_path(comment.product, reply), method: :delete, remote:true  %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'public/comments/reply_form', comment: comment, comment_reply: comment_reply, product: product %>　
  <hr>
</div>