<div class="row">
<h5 class="font-weight-bold">引取履歴一覧</h5>
<table class="table table-sm product-index">
  <thead>
    <tr class="text-center">
      <th>引き取り日</th>
      <th>元の持ち主</th>
      <th>製品名・型式</th>
      <th>状態</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %> 
    <tr class="text-center">
      <td><%= product.updated_at.strftime('%Y/%m/%d') %></td>
      <td><%= product.giver.name %>(<%= product.giver.department.name %>)</td>
  　　<td><%=link_to product.name, product_path(product), class:"d-inline-block text-truncate", style:"width: 400px;" %></td>
      <td>
        <% if product.status == "未開封備品" %>
          <b class="new-product"><%= product.status %></b>
        <% else %>
          <b class="used-product"><%= product.status %></b>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center mx-auto">
  <hr>
  <%= paginate @products %>
</div>
</div>