<%= render "public/shared/error_messages", resource: resource %>

<div class="row">
  <div class="col-6 align-middle mx-auto border-success py-3 mt-3" style="background-color:#d3d3d3;">
    <h5 class="text-center font-weight-bold">新規利用登録</h5>

    <%= form_with model: @user, url: user_registration_path do |f| %>
      <table class="table table-sm table-borderless">
        <tr>
          <td><%= f.label :name, '名前' %></td>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>
  
        <tr>
          <td><%= f.label :employee_number, '社員番号' %></td>
          <td><%= f.text_field :employee_number, autofocus: true %></td>
        </tr>
  
        <tr>
          <td><%= f.label :department_id, '所属部門' %></td>
          <td><%= f.select :department_id, Department.pluck(:name, :id), { include_blank: "--選択してください--"} %></td>
        </tr>

        <tr>
          <td><%= f.label :password, 'パスワード' %><br>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password", class:"align-middle" %>
          </td>
        </tr>

        <tr>
          <td><%= f.label :password_confirmation, 'パスワード確認用' %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </table>
      
      <div class="action text-center"><%= f.submit "登録" %></div>
    <% end %>
    <%= render "public/shared/links" %>
  </div>
</div>