<div class="container">
  <div class="row">
    <h5 class="font-weight-bold ml-3">従業員情報編集画面</h5>
  </div>  
  <div class="row">
    <div class="col">
      <%= form_with model: @user, url: admin_user_path do |f| %>
        <div class="field">
          <%= f.label :name, '名前' %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        
        <div class="field">
          <%= f.label :employee_number, '社員番号' %><br />
          <%= f.text_field :employee_number, autofocus: true %>
        </div>
        
        <div class="field">
          <%= f.label :department_id, '所属部署' %><br />
          <%= f.select :department_id, Department.pluck(:name, :id), { include_blank: "--選択してください--"} %>
        </div>
        
        <div class="field">
      
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, '有効', value: false %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, '無効', value: true %>
        </div>
        <div class="actions">
          <%= f.submit "保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
