<div class="row">
  <div class="col-5 align-middle mx-auto border-success py-3 mt-5" style="background-color:#d3d3d3;">
    <h5 class="text-center">ログイン</h5>
      <%= form_with model: @user, url: user_session_path do |f| %>
        <table class="table table-sm table-borderless">
          <tr>
          <td><%= f.label :employee_number, '社員番号' %></td>  <td><%= f.text_field :employee_number, autofocus: true %></td>
          </tr>
          <tr>
          <td><%= f.label :password, 'パスワード' %></td>  <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
      
        <% if devise_mapping.rememberable? %>
          <tr>
            <td><%= f.check_box :remember_me %>
            <%= f.label :remember_me %></td>
            <td class="action text-center"><%= f.submit "ログイン" %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
      
      <%= render "public/shared/links" %>

  </div>
</div>