<ul class="mb-0" id="mypage_notification">
  <% notifications.first(3).each do |notification| %>
  <li>
    <strong><%= notification.visiter.name %></strong>さんから
    <% case notification.action %>
    <% when 'comment' then %>
      <strong><%= link_to product_path(notification.product_id) do %>新着コメント<% end %></strong>がありました。
    <% else %>
      <strong><%= link_to product_path(notification.comment.product) do %>返信<% end %></strong>がありました。
    <% end %>
      <p class="text-right mb-0"><%= "(#{time_ago_in_words(notification.created_at)} 前)" %><%= link_to notification_path(notification.id), method: :delete, remote: true ,class:"btn" do %><i class="fa-solid fa-xmark" style="color: red;"></i><% end %></p>
  </li>
  <% end %>
</ul>
<% if notifications.offset(3).any? %>
  <div class="text-right">
    <%= link_to "もっと見る...", notifications_path %> 
  </div>
<% end %>