<div class="row">
  <div class="col-5">
    <div class="mypage_content">
      <h5 class="font-weight-bold">新着通知</h5>
    </div>
    <div class="mypage_content">
      <h5 class="font-weight-bold">ランキング</h5>
    </div>
    <div class="row mx-2 text-center">
    <div class="col-3 mypage_content">
      <h5 class="font-weight-bold"><%= link_to "投稿履歴", users_products_index_path %></h5>
    </div>
    <div class="col-3 mypage_content">
      <h5 class="font-weight-bold"><%= link_to "引取履歴", index_path %></h5>
    </div>
    <div  class="col-4 mypage_content">
    <h5 class="font-weight-bold"><%=link_to favorites_path do %>保存済み<span class="text-warning text-opacity-50">★</span><% end %></h5>
    </div>
    </div>
  </div>
  <div class="col-7">

      <div class="mypage_content">
      <h5 class="font-weight-bold">新着の未開封引取募集備品</h5>
      <%= render 'product', products:@new_products %>
      <div class="text-right">
        <%= link_to "もっと見る...", new_products_path %>
      </div>
    </div>
    </span>
    <div class="mypage_content">
      <h5 class="font-weight-bold">新着の開封済引取募集備品</h5>
      <%= render 'product', products:@used_products %>
      <div class="text-right">
        <%= link_to "もっと見る...", used_products_path %>
      </div>
    </div>
  </div>
</div>