<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container header-nav-box">
      <%= link_to root_path do %>
        <div class="svg_wrapper">
          <%= embedded_svg('RescUse_black_1.svg', class: 'logo_svg') %>
        </div>
      <% end %>
      <div>
        <ul class="ml-auto mb-0">
          <div class="navbar-nav ml-auto">
            <div>
              <ul class="navbar-nav" id="nav">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to "マイページ", users_path, class: 'btn navbar-btn' %>
                    <ul class="drop-menu">
                      <li><%= link_to "新着通知", notifications_path, class: "drop-menu-link" %></li>
                      <li><%= link_to "投稿一覧", users_products_index_path, class: "drop-menu-link" %></li>
                      <li><%= link_to "引取一覧", index_path, class: "drop-menu-link" %></li>
                      <li><%= link_to "保存済み", favorites_path, class: "drop-menu-link" %></li>
                    </ul>
                  </li>
                  <li><div class='btn navbar-btn'>メニュー</div>
                    <ul class="drop-menu">
                      <li><%= link_to "新規出品", new_product_path, class: "drop-menu-link" %></li>
                      <li><%= link_to "未開封一覧", new_products_path, class: "drop-menu-link" %></li>
                      <li><%= link_to "開封済一覧", used_products_path, class: "drop-menu-link" %></li>
                      <li><%= link_to "問い合わせ", new_inquiry_path, class: "drop-menu-link" %></li>
                    </ul>
                  </li>
                  <li><%= link_to destroy_user_session_path, method: :delete, class: 'btn navbar-btn' do %>ログアウト<% end %></li>
                <% else %>
                  <li><%= link_to "初めての方", about_path, class: 'btn navbar-btn' %></li>
                  <li><%= link_to "問い合わせ", new_inquiry_path, class: 'btn navbar-btn' %></li>
                  <li><%= link_to "ログイン", new_user_session_path , class: 'btn navbar-btn' %></li>
                  
                <% end %>
                <div class="d-flex align-items-center">
                  <% if user_signed_in? %>
                      <p class="mb-0 text-dark font-weight-bold"><%= current_user.name %> さん</p>
                  <% end %>
                </div>
              </ul>

            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
$(function() {
    $('#nav li').mouseover(function(e) {
        $('ul', this).stop().slideDown('fast');
    })
    .mouseout(function(e) {
        $('ul', this).stop().slideUp('fast');
    });
});



</script>