<!DOCTYPE html>
<html>
  <head>
    <title>RescUse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/6bb66a36c5.js" crossorigin="anonymous"></script>
    <%# stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  
  
  <body>
    <%= render 'layouts/header' %>
    
    <main>
      <%= render 'layouts/flash_message' %>
      <div class="container mb-5 pb-5">
        <%= yield %>
      </div>
    </main>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
